.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
}