/* Base Navbar Styling */
.active {
    background-color: rgb(0, 8, 25);
    color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #000939, #090021, #010027);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: none;
    color: rgb(17, 0, 0);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .title span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #ffffff;
    font-size: xx-large;
}

nav .logo {
    width: 60px;
    margin-right: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    position: relative; /* To position the dropdown */
}

nav ul li a, nav ul li p{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: large;
}

nav ul li a:not(.active):hover, nav ul li p:not(.active):hover{
    background-color: rgb(0, 21, 36);
    color: aliceblue;
}

/* Menu button styling for mobile */
nav .menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

nav .menu span {
    height: 0.6rem;
    margin: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
}

/* Dropdown menu styling */
.nav-dropdown {
    padding: 0px 0px 0px 0px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #010027;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    z-index: 1;
}

.nav-dropdown li {
    width: 100%;
}

.nav-dropdown li a {
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
}

.nav-dropdown li a:hover {
    background-color: rgb(0, 21, 36);
    color: aliceblue;
}

/* Show dropdown when parent is active */
.dropdown:hover .nav-dropdown {
    display: block;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    nav .menu {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        padding: 0px;
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
    
    /* Adjust dropdown for mobile */
    .nav-dropdown {
        position: static;
        box-shadow: none;
    }
}